.smart-table {
  .header-table {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    .wrapper-fillter {
      justify-content: space-between;

      .fillter {
        border-radius: 1rem;
        width: max-content;
        border: none;
      }

      .new-product {
        background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
        border-radius: 8px;
        gap: 0.5em;
        text-decoration: none;
        display: flex;
        align-items: center;
      }
    }
  }

  .active-table {
    margin-left: 1rem;
  }

  .action-table {
    display: flex;
    justify-content: flex-start;
    gap: 0.3rem;

    .update-button {
      background-color: #1e88e5;
      border-radius: 0.2rem;

      svg {
        color: white;
      }
    }

    .delete-button {
      background-color: #f50057;
      border-radius: 0.2rem;

      svg {
        color: white;
      }
    }
  }

  .footer-table {
    display: flex;
    width: 100%;
    justify-content: right;
    gap: 1rem;
  }
}
